@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Monoton&family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple {
  color: rgb(251, 121, 255);
}

.cyan {
 color: cyan;
}

.page {
  min-height: 100vh;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 0;
  background-color: black;
}

h1 {
  font-size: 1.4rem;
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 2px 1px cyan, -2px -1px rgb(251, 121, 255);
}

.board {
  height: 15rem;
  width: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(255, 251, 189);
  border: .2rem solid rgb(255, 251, 189);
  border-radius: .5rem;
  justify-items: center;
  align-items: center;
}

.board > div {
  height: 4.7rem;
  width: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  min-height: 4.25rem;
  min-width: 13rem;
  border-radius: .5rem;
  border: .15rem solid white;
  background-color: black;
  color: black;
  text-shadow: 2px 1px cyan, -2px -1px rgb(251, 121, 255);
  font-size: 1.25rem;
  font-family: 'Press Start 2P', cursive;
}